# Better Auth
BETTER_AUTH_SECRET=""

# Better Auth GitHub OAuth
BETTER_AUTH_GITHUB_CLIENT_ID=""
BETTER_AUTH_GITHUB_CLIENT_SECRET=""

# Drizzle
# Use a placeholder instead of 'password'
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"